<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon"href="{{ url_for('static', filename='favicon.ico.jpg') }}"type="image/x-icon"/>
  <meta property="og:title" content="Sweeter - the sweetest site" />
  <meta property="og:description" content="mini project for Web Plus" />
  <meta property="og:image"content="{{ url_for('static', filename='ogimage.jpg') }}"/>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>about page</title>
</head>
<body>
    <section class="hero is-large is-info">
        <div class="hero-body">
          <p class="title">
            The Abaout Page</p>
          <p class="subtitle">
            The page should accesable by everyone
          </p>
        </div>
      </section>
</body>
</html>